{% load staticfiles %}
{% block footerjs %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'mystyle/lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'mystyle/lib/slick/slick.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'mystyle/js/jquery.starrating.js' %}"></script>
    <script type="text/javascript" src="{% static 'mystyle/js/coustom.js' %}"></script>
{% endblock footerjs %}
