{% load static from staticfiles  %}
{% block footer %}
    <footer>
        <section class="footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="top-footer-item-left">
                            <span>Call Us</span>
                            <h4>002 0106 5370701</h4>
                            <p>24/7 Available</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="top-footer-item-left">
                            <span>Send Us Message </span>
                            <h4>matchalawyer@email.com</h4>
                            <p>24/7 Available</p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="top-footer-item-right">
                            <h4>Newsletter</h4>
                            <p>Don’t miss to subscribe to our news feeds, kindly fill the form below.</p>
                            <nav class="">
                                <form class="form-inline">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Subscribe In Our Newsletter" aria-label="Search">
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Join</button>
                                </form>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="row footer-middle-sectiuon">
                    <div class="col-md-4">
                        <div class="footer-middle-item">
                            <div class="left-img-logo">
                                <img src="{% static 'mystyle/images/provide-in.png' %}" >
                            </div>
                            <div class="right-content">
                                <p>Our Law Platform founded on the principles of truth, justice, accountability, and equal access to all. Our success has been the result of each attorney and staff members.</p>
                                <a href="#">Find a Lawyer Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="footer-center-item">
                                    <h4>Practice Areas</h4>
                                    <ul>
                                        <li><a href="#">Family Law</a></li>
                                        <li><a href="#">Fire Accident</a></li>
                                        <li><a href="#">Sexual Offences</a></li>
                                        <li><a href="#">Drug Offences</a></li>
                                        <li><a href="#">Financial Law</a></li>
                                        <li><a href="#">All</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="footer-center-item">
                                    <h4>Divisions</h4>
                                    <ul>
                                        <li><a href="#">Dhaka Division</a></li>
                                        <li><a href="#">Rajshahi Division</a></li>
                                        <li><a href="#">Barishal Division</a></li>
                                        <li><a href="#">Chattogram Division</a></li>
                                        <li><a href="#">Khulna Division</a></li>
                                        <li><a href="#">All</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="footer-center-item">
                                    <h4>Legal Topics</h4>
                                    <ul>
                                        <li><a href="#">Civil rights</a></li>
                                        <li><a href="#">Constitutional law</a></li>
                                        <li><a href="#">Consumer protection</a></li>
                                        <li><a href="#">Bankruptcy and debt</a></li>
                                        <li><a href="#">Divorce</a></li>
                                        <li><a href="#">All</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bottom-small-footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="bottom-footer-wrapper clearfix">
                            <div class="left-site float-left">
                                <p>Match a lawyer © 2018. All Rights Reserved. <a href="#">NextDot Solution Pty.</a></p>
                            </div>
                            <div class="right-site float-right">
                                <ul>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">FAQS</a></li>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Terms of Use</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
{% endblock footer %}