{% load static from staticfiles %}
{% block head %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Match Lawyer</title>
        <link rel="stylesheet" type="text/css" href="{% static 'mystyle/lib/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'mystyle/lib/font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'mystyle/lib/slick/slick.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'mystyle/css/style.css' %}">
    </head>
{% endblock head %}
