
{% extends 'admin/master.html' %}

{% load static from staticfiles %}

{% block title %} Change Password {% endblock %}
{% block mainbody %}
    <form method="post">
        {% csrf_token %}
        {{ form }}
{#        {{ form.non_field_errors }}#}
{#        <div class="fieldWrapper">#}
{#            {{ form.old_password.errors }}#}
{#            <label for="{{ form.old_password.id_for_label }}">Old Password:</label>#}
{#            {{ form.old_password }}#}
{#        </div>#}
{#        {{ form.new_password }}#}
{#        <div class="fieldWrapper">#}
{#            {{ form.new_password.errors }}#}
{#            <label for="{{ form.new_password.id_for_label }}">New Password:</label>#}
{#            {{ form.new_password }}#}
{#        </div>#}
{#        <div class="fieldWrapper">#}
{#            {{ form.confirm_password.errors }}#}
{#            <label for="{{ form.confirm_password.id_for_label }}">Confirm Password:</label>#}
{#            {{ form.confirm_password }}#}
{#        </div>#}
        <button type="submit">Save changes</button>
    </form>
{% endblock mainbody %}


